.menu{
    position: relative;
    margin: 0 0.5rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.178);
    overflow-y: scroll;
    width: 100%;
    :global {
        .ant-tabs-nav-operations{
            display: none !important;
        }
        .ant-tabs-nav-wrap::after{
            opacity: 0 !important;
        }
        .ant-tabs-nav{
            margin: 0 !important;
        }
        .ant-tabs-nav-list{
            overflow-y: scroll !important;
            &::-webkit-scrollbar{
              display: none;
            }
        }
    }
}

.control{
    display: none;
    padding: 0;
    height: 100%;
    position: relative;
    z-index: 100;
    svg{
        height: 50px;
        position: relative;
        z-index: -1;
    }
    @media (max-width: 780px){
        display: block
    }   
}
.hoverControlCancel{
    cursor:not-allowed !important;
}
.hoverControlActive{
    cursor: 'pointer' !important
}
.select{
    width: 15rem;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.082);
    :global{
        .ant-select-selector{
            border: none !important
        }
    }
}

.thanhToanWrap{
    margin: 1rem;
    :global{
        .ant-card-bordered{
            border: 1px solid rgba(0, 0, 0, 0) !important;
            border-radius: 5px !important;
            overflow: hidden;
            box-shadow: 0 0 5px rgba(128, 128, 128, 0.274);
        }
    }
}